 :host {
          display: block;
          margin: 0;
          width: 255px;
          background:#f2f4ff;
          border:2px solid #000;
          border-radius:12px;
          padding:15px;
          filter: drop-shadow(0 0 0.50rem rgba(158, 158, 158, 0.249));
        }
        img {
          width:250px;
          height:auto;
         
          display: block;
          margin: 0 auto;
        }
        p {
          margin:0;
          font-size:.90rem;
          text-align:start;
          margin-top: 30px;
          margin-bottom:60px;
          margin-left: 1.2em;
          margin-right: 1.2rem;
        }

      @media (max-width: 480px) {

      :host {
        width: 90%;
        padding: 12px;
      }

      img {
        width: 100%;
        max-width: 300px;
      }

      p {
        text-align: center;
        margin: 20px 36px 40px;
        font-size: 1rem;
      }
    }

