:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}

.profile-container {
  max-width: 800px;
  margin: 0 auto;
}

.posts-container {
  background-color: #eff0fd;
  border-radius: 30px;
  padding: 20px;
}

@media (max-width: 568px) {
  .profile-container {
    max-width: 100%;
  }

  .posts-container {
    margin: 0 10px;
    padding: 10px;
  }
}
