@import url("./colors.css");

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--nexolightwhite);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--nexopurple);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--nexodarkpurple);
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--nexopurple) var(--nexowhite);
}
